body {
  background-color: $background-color;
  font-family: 'Roboto';
  .bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
  }
  .progress {
    cursor: progress !important;
  }
  .bootstrap-select.btn-group .dropdown-menu .notify {
    box-shadow: none !important;
  }
  .dropdown-menu {
    margin: 0;
  }
  .footer {
    color: #c9c5c5;
    font-weight: lighter;
    font-family: sans-serif;
    background-color: black;
    text-align: center;
    font-size: 10px;
    padding-bottom: 15px;
    position: relative;
    height: 15px;
    span {
    position: absolute;
    right: 10px;
    top: -3px;
    }
    a{
      text-decoration: underline;

      &:visited {
        color: inherit;
      }
      &:hover {
        color: $yellow-color;
      }
    }
  }
  .cover-title {
    position: absolute;
    top: -35px;
    width: 100%;
    height: 37px;
    background-color: black;
    left: 0px;
  }
  .scroll{
    height: 265px;
    width: 505px;
    margin-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    }
  }
  .scroll-normal {
    margin: auto;
    margin-top: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }
  .ui-select-bootstrap > .ui-select-choices {
    margin-top: 0;
  }
  header {
    background-color: $header-color;
    height: 210px;
    width: 100%;
    .title {
      background-image: url('../img/logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 170px;
    }
    .title.none {
      background-image: none;
    }
    .subtitle {
      color: $yellow-color;
      font-size: 23px;
      font-weight: 200;
      margin-top: -10px;
      text-align: center;
    }
  }
  .datacontainer {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 97.8vh;
    .topdata {
      border-bottom: 1px solid $black-color;
      color: $grey-color;
      line-height: 30px;
      padding: 15px;
      text-align: center;
      strong {
        font-size: 18px;
        text-transform: capitalize;
      }
    }
    .inputdata {
      h3 {
        color: $grey-color;
        font-size: 35px;
        margin-top: 60px;
        text-align: center;
      }
      .dataenter {
        .input-container {
          margin-top: 30px;
          text-align: center;
          .disabled {
            display: none;
          }
          option:checked {
            background-color: $yellow-color;
            color: #000;
          }
          .center-input {
            display: inline-block;
            width: 400px;
            span.btn.btn-default.form-control.ui-select-toggle {
              background-color: #fff;
            }
            .dropdown-menu {
              border-radius: 0;
              max-height: 169px;
            }
            .form-control {
              border-radius: 0;
            }
            .btn {
              border-radius: 0;
            }
          }
          .left-input {
            appearance: none;
            background-color: $grey-color-b;
            border-color: $white-color;
            border-radius: 0;
            color: $white-color;
            cursor: pointer;
            display: inline-block;
            left: 3px;
            width: 120px;
            .dropdown-menu {
              border-radius: 0;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            .btn {
              border-radius: 0;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              background-color: $grey-color-b;
              color: $white-color;
              border-color: $white-color;
            }
          }
          .right-input {
            border-radius: 0;
            background-color: $grey-color-b;
            border-bottom-right-radius: 4px;
            border-color: $white-color;
            border-top-right-radius: 4px !important;
            color: $white-color;
            display: inline-block;
            left: -3px;
            position: relative;
            top: 1px;
            width: 120px;
          }
        }
      }
    }
  }
  .modal-content {
    position: relative;
    z-index: 999999999999;
    background-color: black;
    cursor: auto;
    .title-modal {
      font-family: "STARWARS";
      text-align: center;
      font-size: 40px;
      position: relative;
      top: 37px;
      color: rgba(255, 227, 0, 0.9);
      text-transform: uppercase;
      height: 45px;
    }
    .modal-body {
      background-image: url('../img/card-bg.png');
      background-position: -27px 85px;
      background-repeat: no-repeat;
      background-size: 110%;
      padding: 0;
      .interior {
        height: 470px;
        color: lightgrey;
        padding-left: 30px;
        padding-top: 120px;
        padding-bottom: 85px;
        padding-right: 31px;
        overflow: hidden;
      }
    }
  }
  .modal {
    &.fade {
      cursor: pointer !important;
    }
  }

  table {
    margin: auto;
    margin-top: 25px;
    margin-left: 10px;
    .one {
      color: #999;
    }
    li.ng-binding.ng-scope {
      display: inline-block;
      margin-right: 10px;
      &:after {
        content: ",";
      }
      &:last-child:after {
        display: none;
      }
    }
  .link {
    text-decoration: underline;
    cursor: pointer;
  }

    td:first-child {
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: right;
    }
    tr:last-child td {
      padding-bottom: 0;
    }
  }

}

@media screen and (max-width: 480px) {
  h2.subtitle {
    font-size: 15px !important;
  }
  body .datacontainer .inputdata .dataenter .input-container .left-input, body .datacontainer .inputdata .dataenter .input-container .right-input {
    width: 275px;
    left: 0 !important;
    border-radius: 0 !important;
  }
  button {
    border-radius: 0 !important;
  }
  body .datacontainer .inputdata .dataenter .input-container .center-input {
    width: 275px;
    border: 1px solid white;
    margin: 10px;
  }
  body .modal-content .modal-body {
    background-image: none;
  }
  body .scroll {
    overflow: scroll !important;
    width: 300px;
  }
}
