body {
  background-color: $background-color;
  font-family: 'Roboto';

  header {
    background-color: $header-color;
    height: 210px;
    width: 100%;

    .title {
      background-image: url('../img/logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 170px;
    }

    .subtitle {
      color: $yellow-color;
      font-size: 23px;
      font-weight: 200;
      margin-top: -10px;
      text-align: center;
    }
  }

  .datacontainer {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .topdata {
      border-bottom: 1px solid $black-color;
      color: $grey-color;
      line-height: 30px;
      padding: 15px;
      text-align: center;

      strong {
        font-weight: 600;
      }
    }

    .inputdata {
      h3 {
        color: $grey-color;
        font-size: 35px;
        margin-top: 60px;
        text-align: center;
      }

      .dataenter {
        .input-container {
          margin-top: 30px;
          text-align: center;

          option:checked {
            background-color: $yellow-color;
            color: $white-color;
          }

          .center-input {
            display: inline-block;
            width: 400px;

            .form-control {
              border-radius: 0;
            }

            .btn {
              border-radius: 0;
            }
          }

          .left-input {
            appearance: none;
            background-color: $grey-color-b;
            border-bottom-left-radius: 4px;
            border-color: $white-color;
            border-radius: 0;
            border-top-left-radius: 4px;
            color: $white-color;
            cursor: pointer;
            display: inline-block;
            left: 3px;
            position: relative;
            text-indent: 27px;
            top: 1px;
            width: 120px;
          }

          .right-input {
            background-color: $grey-color-b;
            border-bottom-right-radius: 4px;
            border-color: $white-color;
            border-radius: 0;
            border-top-right-radius: 4px;
            color: $white-color;
            display: inline-block;
            left: -3px;
            position: relative;
            top: 1px;
            width: 120px;
          }
        }
      }
    }
  }
}
