body {
  background-color: $background-color;
  font-family: 'Roboto';
  .bootstrap-select .dropdown-toggle:focus{outline:0 !important}
  .bootstrap-select.btn-group .dropdown-menu .notify { box-shadow: none !important}

  .dropdown-menu {
    margin: 0;
  }

  .ui-select-bootstrap > .ui-select-choices {
    margin-top: 0;
  }

  header {
    background-color: $header-color;
    height: 210px;
    width: 100%;

    .title {
      background-image: url('../img/logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 170px;
      margin-top: 5px;
    }
    .title.none {
      background-image: none;
    }

    .subtitle {
      color: $yellow-color;
      font-size: 23px;
      font-weight: 200;
      margin-top: -10px;
      text-align: center;
    }
  }

  .datacontainer {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .topdata {
      border-bottom: 1px solid $black-color;
      color: $grey-color;
      line-height: 30px;
      padding: 15px;
      text-align: center;

      strong {
        font-size: 18px;
        text-transform: capitalize;
      }
    }

    .inputdata {
      h3 {
        color: $grey-color;
        font-size: 35px;
        margin-top: 60px;
        text-align: center;
      }

      .dataenter {
        .input-container {
          margin-top: 30px;
          text-align: center;

          .disabled {
            display: none;
          }

          option:checked {
            background-color: $yellow-color;
            color: #000;
          }

          .center-input {
            display: inline-block;
            width: 400px;

            span.btn.btn-default.form-control.ui-select-toggle {
              background-color: #fff;
            }

            .dropdown-menu {
              border-radius: 0;
              max-height: 169px;
            }
            .form-control {
              border-radius: 0;
            }

            .btn {
              border-radius: 0;
            }
          }

          .left-input {
            appearance: none;
            background-color: $grey-color-b;
            border-color: $white-color;
            border-radius: 0;
            color: $white-color;
            cursor: pointer;
            display: inline-block;
            left: 3px;
            width: 120px;

            .dropdown-menu {
              border-radius: 0;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            .btn {
              border-radius: 0;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              background-color: $grey-color-b;
              color: $white-color;
              border-color: $white-color;
            }
          }

          .right-input {
            border-radius: 0;
            background-color: $grey-color-b;
            border-bottom-right-radius: 4px;
            border-color: $white-color;
            border-top-right-radius: 4px !important;
            color: $white-color;
            display: inline-block;
            left: -3px;
            position: relative;
            top: 1px;
            width: 120px;
          }
        }
      }
    }
  }
  .modal-content {
    position: relative;
    z-index: 999999999999;
    background-color: black;
    cursor: auto;

    .title-modal {
      font-family:"STARWARS";
      text-align: center;
      font-size: 40px;
      position: relative;
      top: 45px;
      color: rgba(255, 227, 0, 0.9);
      text-transform: uppercase;
      height: 40px;
    }
    .modal-body {
      background-image: url('../img/card-bg.png');
      background-position: 4px 95px;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;

      .interior {
        height: 470px;
        color: lightgrey;
        padding-left: 57px;
        padding-top: 133px;
        padding-bottom: 86px;
        overflow: hidden;
        width: 535px;
      }

    }
  }
  .modal {
    &.fade {
      cursor: pointer !important;
    }
  }
}
