$background-color: #272b30;
$header-color: #000;
$yellow-color: #ffe300;
$grey-color: #c2c8c8;
$black-color: #000;
$white-color: #fff;
$grey-color-b: #41464d;

option:checked {
  background-color: $yellow-color;
  color: $white-color;
}
