doctype html
html(lang="en", ng-app='app')
  head
    meta(charset='utf-8')
    title new app
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/reset.css', charset='utf-8')
    link(rel='stylesheet', href='css/fonts/fonts.css')
    // bower:css
    // endbower
    link(rel='stylesheet', href='css/style.css', media='screen', charset='utf-8')
  body
    header
      h1.title Star Wars
      h2.subtitle All the Star Wars data you've ever wanted
    section.container
      .topdata
        p
          strong Planets, Spaceships, Vehicles, People, Films and Species
          br
          | From all 
          strong SEVEN 
          | Star Wars films
          br
          | Now with The Force Awakens data
      .inputdata(HomeController as homectr)
        h3 Try it now!
        .dataenter
          form.input-container(name='form')
            select
              option(value='', disabled selected hidden) Select
              option(ng-repeat="select in homectr.selects track by $index", value='{{select.name}}') {{select.name}}
            input(type='text', placeholder='Type here')
            button.add(ng-disabled='form.$invalid')
              |Request
    
    // bower:js
    // endbower
    
    // inject:js
    // endinject
