doctype html
html(lang="en", ng-app='app')
  head
    meta(charset='utf-8')
    title Star Wars
    meta(name='viewport', content='width=device-width')
    meta(HTTP-EQUIV='Pragma' CONTENT='no-cache')
    meta(HTTP-EQUIV='Expires' CONTENT='-1')
    link(rel='shortcut icon', href='img/favicon.ico')
    link(rel='stylesheet', href='css/fonts/fonts.css')
    link(rel='stylesheet', href='css/fonts/fonts2.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    base(href='/')
    
    // inject:css
    // endinject
    
    link(rel='stylesheet', href='css/index.css')
  body
    div(ui-view)

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js')

    // inject:js
    // endinject
